.container-fluit {
	padding: 15px;
}

.btn-action {
	font-size: 20px
}

#projectName {
	font-size: 15px;
	line-height: 30px
}

#title {
	font-size: 30px;
	color: red;
	font-family: 'Times new roman'
}
