.container-fluit {
	padding: 15px;
}

.btn-action {
	font-size: 20px
}

#projectName {
	font-size: 15px;
	line-height: 30px
}

#title {
	font-size: 30px;
	color: red;
	font-family: 'Times new roman'
}

.jq-toast-wrap .jq-toast-single{
	background-color: rgba(237, 50, 50, 0.8) !important;
	color:  white;
	padding: 20px;
	font-weight: bold;
}